<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/partials.css">
  <link rel="stylesheet" href="/stylesheets/icones/css/all.css">
  <link rel="stylesheet" href="/stylesheets/portrait.css" media="screen and (orientation:portrait)">
</head>
<header class="header">
  <h1 class="title-header">Sistema de Gestão da Biblioteca</h1>

  <ul class="container-links">
    <li><a href="/users/dashboard" class="link-nav"><i class="fa fa-line-chart"></i> Estatísticas</a></li>
    <li><a href="/users/readers" class="link-nav"><i class="fa fa-users"></i> Leitores</a></li>
    <li><a href="/users/books" class="link-nav"><i class="fa fa-book"></i> Livros</a></li>
    <li><a href="/users/tables" class="link-nav"><i class="fa fa-table"></i> Mesas</a></li>
    <li><a href="/users/pratiles" class="link-nav"><i class="fa fa-bar-chart"></i> Pratileiras</a></li>
  </ul>

  <nav class="navigation-header">
    <ul class="container-nav">
      <li class="container-sub-menu"> <a href="#"><i class="fa fa-user" id="icon-user"></i></a> 
        <ul class="sub-menu">
          <li><a href="/users/profile" class="link-submenu">Informações pessoais</a></li>
          <li><a href="/users/about" class="link-submenu">Sobre</a></li>
          <li><a href="/users/users-systems" class="link-submenu">Utilizadores</a></li>
          <li><a href="#" class="link-submenu">Notas</a></li>
          <li><a href="#" class="link-submenu">Sair</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>