<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/login.css'/>
    <link rel='stylesheet' href="/stylesheets/icones/css/all.css">
    <!---Chamar aqui as configurações para responsividade-->
  </head>
  <body>
 
    <div class="container-login">
      <div class="container-img">
        <div class="focus-img">
          <h1 class="title-focus-img">SIG BIBLIOTEC</h1>
        </div>
      </div>

      <form class="form-login" method="post">
        <h1 class="title-form">Seja Bem-Vindo</h1>

        <div class="container-input">
          <label for="userName" class="label-input">Nome de usuário</label> <br> <br>
          <i class="fa fa-user"></i><input type="text" placeholder="Digite seu nome de usário" class="input-form" id="input-userName" name="userName" autocomplete="off" required>
        </div>

        <div class="container-input">
          <label for="inputPassword" class="label-input">Senha</label> <br><br>
          <i class="fa fa-lock"></i><input type="password" placeholder="Digite sua senha" class="input-form" id="inputPassword" name="password" required>
         <button type="button" class="btn-eye" id="btnEye"> <i class="fa fa-eye"></i></button>
        </div>

        <div class="container-footer-form">
          <button type="submit" class="btn-login">Entrar</button>
        </div>

        <p class="paragraphy">
          @Sistema de Gestão da Biblioteca 2024
        </p>

      </form>
    </div>
    <script src="/javascripts/login.js"></script>
  </body>
</html>
