<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="/stylesheets/portrait.css" media="screen and (orientation:portrait)">
</head>
<body>
  <%- include('partials/header.ejs')%>

 
  
  <div class="container-head">
    <h2 class="title-readrs">Leitores</h2> <button type="button" class="btn-vis">Ver Leitores</button>
  </div>

  <main class="container-cad">
    <h2 class="title-container-cad">Cadastramento de leitor</h2>

    <form class="form-cad" method="post">
      
      <div class="container-label">
        <label for="" class="label-form">Nome Completo</label>
        <label for="" class="label-form">Documento de Identidade</label>
        <label for="" class="label-form">Número do Documento</label>
      </div>

      <div class="container-inputs">
        <input type="text" placeholder="Digite seu nome Completo" class="input" name="fullName">
        <select name="docType" id=""  class="input">
          <option value="Bilhete de Identidade">Bilhete de Identidade</option>
          <option value="Passaporte">Passaporte</option>
          <option value="Cartão de Estudante">Cartão de Estudante</option>
          <option value="Cedúla">Cedúla</option>
        </select>
        <input type="text" placeholder="Digite o número do documento"  class="input" name="docNumber">
      </div>

      <div class="container-label">
        <label for="" class="label-form">Data e Hora</label>
        <label for="" class="label-form">Livro</label>
        <label for="" class="label-form">Quantidade de Livros</label>
      </div>

      <div class="container-inputs">
        <input type="text" class="input" readonly placeholder="D/M/A" id="inputDate" name="dateRegister">
        <select name="livro" id=""  class="input">
          <option value="Análise Matemática I">Análise Matemática I</option>
          <option value="Análise Matemática II">Análise Matemática II</option>
          <option value="Psicologia Criminal">Psicologia Criminal</option>
          <option value="Técnica de Linguagem de Programação">Técnica de Linguagem de Programação</option>
        </select>
        <select name="quantidadeLivro" id=""  class="input">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>

      <div class="container-label">
        <label for="" class="label-form">Categoria do Livro</label>
        <label for="" class="label-form">Assunto</label>
        <label for="" class="label-form">Duração</label>
      </div>

      <div class="container-inputs">
        <select name="categoriaLivro" id=""  class="input">
          <option value="Desporto">Desporto</option>
          <option value="Cultura">Cultura</option>
          <option value="Tecnologia">Tecnologia</option>
          <option value="Ciências">Ciências</option>
        </select>
        <select name="assunto" id=""  class="input">
          <option value="Leitura e Investigação">Leitura e Investigação</option>
          <option value="Devolução">Devolução</option>
          <option value="Emprestimo">Emprestimo</option>
        </select>
        <select name="duracao" id=""  class="input">
          <option value="30min">30min</option>
          <option value="1h">1h</option>
          <option value="2h">2h</option>
          <option value="Indefinido">Indefinido</option>
        </select>
      </div>


        <button type="submit" class="btn-cad-form">Cadastrar</button>
        <button type="reset" class="btn-reset-form">Limpar</button>

    </form>
  </main>

  <script src="/javascripts/custom.js"></script>
</body>
</html>