<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title%></title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <%- include('partials/header')%>

  <div class="container-head">
    <h2 class="title-readrs">Mesas</h2> <button type="button" class="btn-vis">Ver Mesas</button>
  </div>

  <main class="container-cad">
    <h2 class="title-container-cad">Cadastramento de Mesas</h2>

    <form class="form-cad" method="post">
      <div class="container-label">
        <label for="" class="label-form">Mesa</label>
        <label for="" class="label-form">Capacidade</label>
        <label for="" class="label-form">Cadeiras</label>
      </div>

      <div class="container-inputs">
        <input type="text" placeholder="Digite o nome da mesa ex(Mesa01)" class="input" name="table">
        <input type="text" placeholder="Digite a capacidade de alunos na mesa" class="input" name="people">
        <input type="text" placeholder="Digite nºs de cadeiras nesta mesa" class="input" name="chairs">
      </div>

      <button type="submit" class="btn-cad-form">Cadastrar</button>
      <button type="reset" class="btn-reset-form">Limpar</button>
    </form>
  </main>
</body>
</html>